<form>
    <div class="container">
        <div class="row">
            <h1>How Much?</h1>
        </div>
        <div class="row">
            <div class="row">
                Savings: $
                <input type="text" ng-model="sliders.spm">per month</BR>
                <slider ng-model="$parent.sliders.spm" value="200" tooltip="hide" min="1" step="1" max="5000" value="1"></slider>
            </div>
            <div class="row">
                Time:
                <input type="text" ng-model="sliders.term.years">years
                <input type="text" ng-model="sliders.term.months">months
                </BR>
                <slider ng-model="sliders.term.months" value="25" tooltip="hide" min="1" step="1" max="120" value="1"></slider>
            </div>
            <div class="row">
                Interest:
                <input type="text" ng-model="sliders.ir">%</BR>
                <slider ng-model="sliders.ir" value="2.5" tooltip="hide" min="0.01" step="0.01" max="5" value="1"></slider>
            </div>
            <div class="row">
                Your savings goal could be:</BR>
                <howmuch spm="sliders.spm" term="sliders.term.months" ir="sliders.ir" />
            </div>
        </div>
    </div>
</form>