<div class="container">
     <div scope-age></div>
    <div class="row">
        <h1>Monthly Contributions?</h1>
        <div class="row">
            Savings Goal: $
            <input type="text" ng-model="sliders.goal"></BR>
            <slider ng-model="$parent.sliders.goal" value="5000" tooltip="hide" min="1" step="1" max="5000" value="1"></slider>
        </div>
        <div class="row">
            Time:
            <input type="text" ng-model="sliders.term.years">years
            <input type="text" ng-model="sliders.term.months">months
            </BR>
            <slider ng-model="sliders.term.months" value="24" tooltip="hide" min="1" step="1" max="120" value="1"></slider>
        </div>
        <div class="row">
            Interest:
            <input type="text" ng-model="sliders.ir">%</BR>
            <slider ng-model="sliders.ir" value="2.5" tooltip="hide" min="0.01" step="0.01" max="5" value="1"></slider>
        </div>
        <div class="row">
            You need to deposit this much to reach your goal:</BR>
            <monthly goal="sliders.goal" term="sliders.term.months" ir="sliders.ir" />
        </div>
    </div>
</div>